* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}    
h1   {
    color: #4CAF50;
    margin-bottom: 20px;
    font-size: 3rem;
}    
.container {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}  
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}  
input, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1.3rem;
}  
input:focus {
    outline: none;
    border-color: #4CAF50;
}  
button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}  
button:hover {
    background-color: #45a049;
}  
table {
    width: 100%;
    border-collapse: collapse;
}  
table, th, td {
    border: 1px solid #ddd;
}  
th, td {
    text-align: left;
    padding: 12px;
}  
th {
    background-color: #4CAF50;
    color: white;
}  
td {
    vertical-align: middle;
}  
.icon {
    margin-right: 10px;
    color: #36c93b;
}
.fa-phone-alt {
    color: #5292d6;
}
.colorw {
    color: #f4f4f9;
}
.linha_de_contato {
    display: flex;
    align-items: center;
    gap: 10px;
}  
.linha_de_contato .fa-user {
    color: #f56b41;
}  
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
    table, th, td {
    font-size: 1.0rem;
    }
}